<h1>My Events</h1>
<p><%= link_to "View all created events", event_view_index_path %></p>
<%= link_to "New Event", new_user_event_path(:id) %>
<% if current_user.created_events.any? %>
    <div id="events">
    <% current_user.created_events.each do |event| %>
        <li>
        <%= link_to event.location, event_view_path(event) %>
        </li>
    </div>
    <% end %>
<% else %>
    <div>
    <p>You haven't created any events! Click below to create some!</p>
    </div>
<% end %>