<h1>All Events</h1>
<p><%= link_to "Go to my created events", user_events_path(:id) %></p>
<div id="events">
    <% Event.each do |event| %>
        <li>
        <%= link_to event.created_at, event_path(event) %>
        </li>
    </div>
    <% end %>
